<app-bar></app-bar>

<div class="app-container">
    <div class="app-side-menu">
        <app-side-bar></app-side-bar>
    </div>
    <div class="app-content">
        <router-outlet> </router-outlet>
    </div>
</div>